{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Abdelrahman — a passionate self-learner and aspiring developer .

        I created this blog to share what I’m learning, building, and discovering along my journey in programming and
          personal growth. Over the past few years, I’ve been exploring Python, working on small projects, and improving
          my problem-solving skills step by step.

        This space is where I document that journey — from simple scripts to more advanced ideas — in a way that’s
          practical and easy to understand. Whether it’s coding tips, project breakdowns, or lessons I’ve learned along
          the way, my goal is to make useful content for anyone starting out like me.

        I believe consistency beats perfection, and every small step counts. This blog is proof of that.

        Thanks for stopping by 🚀

        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
